<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChecker</servlet-name>
        <servlet-class>controller.AdminChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdationChecker</servlet-name>
        <servlet-class>controller.UpdationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletionChecker</servlet-name>
        <servlet-class>controller.DeletionChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChecker</servlet-name>
        <url-pattern>/AdminChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdationChecker</servlet-name>
        <url-pattern>/UpdationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletionChecker</servlet-name>
        <url-pattern>/DeletionChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
